<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.dao.PaperMapper">

	<sql id="allFields">id, name, questionNums, From_UNIXTIME(examTime) as examTime</sql>
  
  <insert id="insert" parameterType="Paper">
  	insert into t_paper(name, questionNums, examTime) values(#{name}, #{questionNums}, UNIX_TIMESTAMP(#{examTime}))
  </insert>
  
  <update id="update" parameterType="Paper">
  	update t_paper set name=#{name}, examTime=UNIX_TIMESTAMP(#{examTime}), questionNums = #{questionNums}  where id=#{id}
  </update>
  
  <delete id="delete" parameterType="int">
  	delete from t_paper where id=#{id}
  </delete>
  
  <select id="get" parameterType="int" resultType="Paper">
  	select <include refid="allFields" /> from t_paper where id=#{id}
  </select>
  
  <select id="list" resultType="Paper">
  	select <include refid="allFields" /> from t_paper
  </select>
</mapper>